{% load static %}
    <!--begin::Sidebar-->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="{% url 'maps:index' %}" class="brand-link link-light">
            <!--begin::Brand Image-->
            <img src="{% static 'img/logo-ace.png'%}" alt="ACE Shops" class="brand-image opacity-75 shadow"/>&nbsp;&nbsp;<b>Shops</b>
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="navigation"
              aria-label="Main navigation"
              data-accordion="false"
              id="navigation"
            >
            {% with request.resolver_match.url_name as current_url %}
                {% if request.user.role == "admin" %}
                    <li class="nav-item {% if current_url in 'category_list projects_list project_create' %}menu-open{% endif %}">
                        <a href="#" class="nav-link {% if current_url in 'category_list' %}active{% endif %}">
                        <i class="nav-icon bi bi-gear-fill"></i>
                        <p>
                            Configuración
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'maps:category_list'  %}" class="nav-link {% if current_url in 'category_list category_create' %}active{% endif %}">
                                    <i class="nav-icon bi bi-tags-fill"></i>
                                    <p>Categorias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'maps:projects_list'  %}" class="nav-link {% if current_url in 'projects_list project_create project_edit' %}active{% endif %}">
                                    <i class="bi bi-briefcase-fill"></i>
                                    <p>Proyectos</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
              <li class="nav-item {% if current_url in 'stores_list store_create store_edit store_delete' %}menu-open{% endif %}">
                <a href="#" class="nav-link {% if current_url in 'stores_list store_edit store_create' %}active{% endif %}">
                  <i class="nav-icon bi bi-shop"></i>
                  <p>
                    Tiendas
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if request.user.role == "admin" or request.user.role == "operador" %}
                        <li class="nav-item">
                            <a href="{% url 'maps:store_create' %}" class="nav-link {% if current_url in 'store_create' %}active{% endif %}">
                                <i class="bi bi-building-add"></i>
                                <p>Crear Tienda</p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'maps:stores_list' %}" class="nav-link {% if current_url in 'stores_list' %}active{% endif %}">
                            <i class="bi bi-list-check"></i>
                            <p>Listado Tiendas</p>
                        </a>
                    </li>
                </ul>
              </li>
                {% if request.user.role == "admin"%}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="nav-icon bi-file-bar-graph-fill"></i>
                        <p>Reportes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users_list' %}" class="nav-link {% if current_url in 'user_list' %}active{% endif %}">
                        <i class="nav-icon bi bi-person-fill-gear"></i>
                        <p>Usuarios</p>
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>
      <!--end::Sidebar-->