{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <style type="text/css">
        #map_canvas {
            width: 100%;
            height: 350px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/maps_stores.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <div class="card-body p-2">
                <div class="p-2">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <form method="post" action="{% url 'maps:get_nearby_stores' %}" method="post" id="clinic-finder-form" class="clear-block row">
                    <div class="col-lg-6 " id="edit-gmap-address-wrapper">
                        <label for="" class="form-label">Por favor, introduzca una ubicación</label>
                        <input type="text" maxlength="128" name="address" id="address" size="60" value="" class="form-text form-control form-control-sm" autocomplete="off">
                    </div>
                    <div class="col-lg-6" id="edit-products-wrapper">
                        <label for="" class="form-label">Categoría</label>
                        <select name="products" class="form-select form-select-sm" id="edit-products">
                            <option value="">Todas las categorías</option>
                            {% for category in categories %}
                                <option value="{{ category.pk }}">{{ category.cat_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="my-3">
                        <input type="submit" name="op" id="edit-submit" value="Encontrar" class="btn btn-primary px-5">
                    </div>
                </form>
                <div id="stores-maps" class="border">
                    <div class="links"></div>
                    <div id="map_canvas" class="newstore_map" data-icon="{% static 'img/image.png' %}"></div>
                </div>
                <div id="ajax_msg"></div>
                <div id="results">
                    <div class="mt-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="distance" name="distance" value="10"> 10 <div class="radius-distance" style="display:inline;">km</div>
                         </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="distance" name="distance" value="50"> 50 <div class="radius-distance" style="display:inline;">km</div>
                         </div>
                         <div class="form-check form-check-inline">
                             <input class="form-check-input" type="radio" id="distance" name="distance" value="100" checked> 100 <div class="radius-distance"  style="display:inline;">km</div>
                         </div>
                    </div>
                    <p class="distance-units">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="distance-units" value="kms" checked>
                            <label class="form-check-label km" units="km">KM</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="distance-units" value="miles">
                            <label class="form-check-label miles" units="miles">Miles</label>
                        </div>
                    </p>
                    <ol style="display: block; " id="list"></ol>
                </div>
                <div id="loading-overlay">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status"></div>
                        <p>Buscando tiendas cercanas...</p>
                    </div>
                </div>
{% endblock %}
{% block scripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgigvXBOsGg4WoV5818c7Upo1jUDDvBEo&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'lib/formset/jquery.formset.js' %}"></script>

    <script src="{% static 'js/maps_stores.js' %}"></script>
{% endblock %}